body {
  background: url("../images/background-home.jpg") no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #000000;
  margin: 0;
  padding: 0;
  color: #fff700;
  font-family: "Cinzel", Spongeboy Me Bob;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  border-radius: 75px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.title {
  font-size: 5em;
  font-weight: bold;
  text-shadow: 0 0 10px #ffff00;

  margin-bottom: 20px;
  margin-top: 0px;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  font-size: 1em;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.start {
  background: linear-gradient(45deg, #fffb00, #ff007b);
  font-family: "Cinzel", Spongeboy Me Bob;
  color: #000000;
  box-shadow: 0 0 10px #ffff00;
}

.scores {
  background: linear-gradient(45deg, #fffb00, #ff007b);
  font-family: "Cinzel", Spongeboy Me Bob;
  color: #000000;
  box-shadow: 0 0 10px #ffff00;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
